.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 2em;
  padding: 0.5em 0;
  justify-content: center;
}
.header__logo img {
  width: 24px;
}
nav {
  margin-left: 2em;
}
ul{
  all: unset;
}
li {
  display: inline-block;
  font-size: var(--font-size-small);
  padding: 0.5em 1.5em;
}
li:hover {
  cursor: pointer;
}
.header__icon {
  display: flex;
  align-items: center;
}
.header__icon a {
  padding: 1em 1em;
}
.header__icon img {
  height: 14px;
}

.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  background-color: white;
}
.add p{
  font-size: var(--font-size-small);
}
.add a {
  color: var(--color-buttonLink);
  text-decoration: none;
}
sup {
  font-size:xx-small;
}
@media (max-width:768px) {
  .header {
    margin: 0 1em;
    align-items: center;
  }
  .header__logo img {
    width: 30px;
  }
  nav {
    visibility:hidden;
  }
  .header__icon{
    margin-right: 1em;
  }
  .header__icon img {
    height: 20px;
  }
  #menu__hidden {
    display: block;
  }
  
}
@media (min-width:769px) {
  #menu__hidden {
    display: none;
  }
  
}