.header {
  display: flex;
  flex-direction: row;
  height: 2em;
  padding: 0.5em 0;
  margin: 0 16vw;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 24px;
}
.nav {
  margin-bottom: 2px;
}
.nav a {
  display: inline-block;
  padding: 1em 0;
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: normal;
  color: black;
}
.header__icon {
  display: flex;
  align-items: center;
}
.header__icon a {
  padding: 1em 1em;
}
.header__icon img {
  height: 14px;
}

.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 16vw;
  background-color: white;
}
.add p{
  font-size: var(--font-size-small);
  font-weight: 400;
}
.add a {
  color: var(--color-buttonLink);
  text-decoration: none;
}
sup {
  font-size:xx-small;
}
@media (max-width:832px) {
  .header {
    margin: 0 1em;
    align-items: center;
  }
  .header__logo img {
    width: 30px;
  }
  .nav {
    visibility:hidden;
  }
  .header__icon img {
    height: 18px;
  }
  #menu__hidden {
    display: block;
  }
  .add {
    padding: 1em 1.5em;
  }
  
}
@media (min-width:833px) {
  #menu__hidden {
    display: none;
  }
  
}